@model IEnumerable<dotNET_demo.Models.News>

@{
    ViewBag.Title = "News";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h4 class="text-center">@Html.DisplayFor(modelItem => item.Title)</h4>
            @Html.DisplayFor(modelItem => item.Content)
            
            <p class="text-muted">Published: @Html.DisplayFor(modelItem => item.TimeStamp)</p>

            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            <hr />
        </div>
    </div>
}

